*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	font-size: 14px;
	font-weight: 400;
	color: #28313b;
	line-height: 1.15;
	font-family: 'Roboto', sans-serif;
}
.cont{
	width: 1170px;
	margin: 0 auto;
}
.sec{
	float: left;
	width: 100%;
}
a{
	color: #28313b;
	text-decoration: none;
}
.sec1{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-bottom:1px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:1px;
}
.sec1_1{
	float:left;
	width:50%;
}
#s111{
	padding-right:5px;
}
#s112{
	padding-left:15px;
}
.sec1_2{
	float:left;
	width:50%;
	text-align:right;
}
#s121{
	padding-right:10px;
}
#s122{
	padding-right:10px;
}
#s123{
	padding-right:10px;
}
.sec2{
	float:left;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	background-color:#ffffff;
}
.sec2_1{
	float:left;
	width:15%;
}
.sec2_2{
	float:left;
	width:65%;
	padding-top:5px;
}
.sec2_3{
	float:left;
	width:20%;
	text-align:right;
}
#s231{
	padding-right:20px;
}
#s232{
	padding-right:20px;
}
.product li{
	float: left;
	padding: 5px 0;
	margin-right:30px;
	font-size:16px;
	font-weight:500;
	color:#34404b;
	margin-left:15px;
	list-style: none;
}
.product input[type=checkbox]{
	display: none;
}
.product li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.product li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3{
	float:left;
	width:100%;
	margin-top:80px;
}
.block{
	float:left;
	width:100%;
	padding: 30px;
}
.block h3{
	color: #ff5912;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}
.categories a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	width: 100%;
	padding: 5px 0;
}
.sec3_1{
	float:left;
	width:22%;
}
.sec3_1_1{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-top:16px;
}
#s31111{
	padding-top:10px;
}
.categories li{
	float: left;
	width: 100%;
	padding: 5px 0;
	font-size:16;
	font-weight:700;
	margin-bottom:15px;
	list-style: none;
}
.categories input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.categories li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.categories li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_1_2{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-top:30px;
	margin-bottom:30px;
}
.filtter a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	width: 100%;
	padding: 5px 0;
}
.sec3_1_3{
	float:left;
	width:100%;
	background-color:#ffffff;
	margin-bottom:30px;
}

.sizes li{
	float: left;
	width: 100%;
	padding: 5px 0;
	margin-bottom:10px;
	font-size:14;
	font-weight:700;
	list-style: none;
}
.sizes input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.sizes li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.sizes li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.sizes li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_1_4{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.brands li{
	float: left;
	width: 100%;
	padding: 5px 0;
	margin-bottom:10px;
	font-size:14;
	font-weight:700;
	list-style: none;
}
.brands input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.brands li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.brands li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.brands li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec3_2{
	float: left;
	width: 78%;
}

.sec3_2_1{
	background-color: #f4f6f8;
	width: 100%;
	padding-left:15px;
}

.item{
	text-align: center; 
	width: 274px;
	height:340px;
	background-color:white ; 
	float:left; 
	margin:15px; 
	font-size:18px;
	color:#ff5912;
}
.item p{
	padding-top:15px;
}
.item .item-content{
	float:left;
	width: 100%;
	background-color: #fff;
	margin-top:30px;
}
.sec3_2_2{
	float:left;
	width:100%;
	background-color:#ffffff;
	text-align:center;

}
.circle span{
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #ff5912;
	border-radius: 100%;
	margin-top:15px;
}
.sec4{
	width:100%;
	float:left;
}
.sec4_1{
	float:left;
	width:55%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:60px;
	padding-bottom:60px;
	padding-left:40px;
}
.sec4_1 span{
	font-size:18px;
	font-weight:700;
	color:#ff5912;
	padding-left:15px;
}
.sec4_2{
	float:left;
	width:25%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:60px;
	padding-bottom:60px;
}
.sec4_3{
	float:left;
	width:16.5%;
	background-color:#ffffff;
	margin-top:100px;
	padding-top:45px;
	padding-bottom:42px;
}
.sec5{
	width:100%;
	float:left;
	margin-top:100px;
	padding-top:70px;
	padding-bottom:70px;
	background-color:#ffffff;
}
.sec5_1{
	float:left;
	width:35%;
}
.sec5_1 p{
	padding-top:10px;
}
.sec5_2{
	float:left;
	width:15%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_3{
	float:left;
	width:18%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_4{
	float:left;
	width:17%;
}
.about li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.about input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.about li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.about li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.sec5_5{
	float:left;
	width:15%;
	padding-top:15px;
}
.sec5_5 span{
	font-size:18px;
	font-weight:700;
	color:#ff5912;
	margin-top:40px;
}
.sec5_5 p{
	padding-top:15px;
}
.item2{
	text-align: center;
	float: left;
	width: calc(100% / 4 - 30px);
	padding: 0 15px 0;
}

.item_content2{
	float: left;
	background-color: white;
	width: 100%
}

.item_content2 img{
	margin-top: 40px;
}

.item_content2 p{
	margin: 35px 0;
}

.item_content2 a{
	color: #34404b;
	font-size: 18px;
	text-decoration: none;
}

.item_content2 span{
	color: #ff5912;
	font-size: 16px;
}
.cont2{
	width: calc(100% - 150px);
	margin: 0 auto;
}
.sec6{
	background-color: #ffffff;
	margin-top: 1px;
}
.sec6_1{
	width: 35%;
	text-align: center;
	float: left;
}

.sec6_2{
	width: calc(65% - 130px);
	float: left;
	margin-left: 85px;
}

.big_product{
	width: 100%;
	float: left;
}

.big_product img{
	margin-top: 105px;
	margin-bottom: 70px;	
}

.small_product{
	width: 100%;
	float: left;
}

.box{
	width: calc(100% / 3 - 16px);
	height: 70px;
	float: left;
	margin-bottom: 135px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #f4f6f8;
}
.box img{
	margin-top: 10px;
}
.sec6_2_1{
	float: left;
	width: 100%;
}

.sec6_2_2{
	float: left;
	width: 100%;
}

.sec6_2_3{
	float: left;
	width: 100%;
}

.sec6_2_1 h1{
	margin-bottom: 15px;
	margin-top: 105px;
	color: #ff5912;
	font-size: 50px;
}

.sec6_2_1 h4{
	margin-bottom: 30px;
	color: #3c4751;
}

.sec6_2_1 h5{
	margin-top: 15px;
	color: #989fa5;
}

.sec6_2_1_cont{
	padding-bottom: 40px;
	border-bottom: 1.5px solid #f4f6f8;
}

.sec6_2_2_1{
	width: 50%;
	float: left;
	border-right: 1.5px solid #f4f6f8;
}

.sec6_2_2_2{
	width: calc(50% - 1.5px);
	float: left;
}

.sec6_2_2_1 h4{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.sec6_2_2 {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1.5px solid #f4f6f8;
	margin-bottom: 40px;
}

.sec6_2_2_2 label{
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
	margin-right: 20px;
}

.sec6_2_2_2 input{
	width: 15%;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sec6_2_3_1{
	width: 50%;
	float: left;
}

.sec6_2_3_2{
	width: 50%;
	float: left;
}
.sec6_2_3_2 button{
	float: right;
	width: 135px;
	height: 50px;
	background-color: #ff5912;
	border-style: none;
	border-radius: 25px;
	color: white;
	font-size: 13px;
	margin-left: 20px;
}
.sec6_2_3_2 i{
	margin-top: 18px;
	float: right;
	margin-left: 20px;
}
.sec6_2_3_1 h4{
	margin-top: 18px;
	color: #34404b;
}
.sec7_1{
	text-align: center;
	margin-top: 120px;
}

.big_text{
	color: #ff5912;
	font-size: 30px;
}

.big_text2{
	color: #34404b;
	font-size: 30px;
}

.sec7_1 p{
	color: #495662;
	margin-top: 30px;
	margin-bottom: 85px;
}