/* layout */
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;

	height: 100%;
	background-color: #fff;
}

.section_1{
	height: 100px;
	background-color: red;
}
.section_1_1{
	float:left;
	width: 50%;

	height: 100%;
	background-color: darkgreen;
}
.section_1_2{
	float:left;
	width: 50%;
	
	height: 100%;
	background-color: darkred;
}
.section_2{
	height: 100px;
	background-color: green;
}
.section_2_1{
	float: left;
	width: 20%;

	height: 100%;
	background-color: orange;
}
.section_2_2{
	float: left;
	width: 50%;

	height: 100%;
	background-color: darkblue;
}
.section_2_3{
	float: left;
	width: 30%;

	height: 100%;
	background-color: black;
}
.section_3{
	height: 600px;
	background-color: orange;
}
.section_3_1{
	float: left;
	width: 25%;

	height: 100%;
	background-color: black;
}
.section_3_2{
	float: left;
	width: 75%;

	height: 100%;
	background-color: yellow;
}
.section_4{
	height: 100px;
	background-color: blue;
}
.section_5{
	height: 150px;
	background-color: violet;
}