a{
	color: black;
	font-size: 18px;
	font-weight: 200;/*100 300 400 500 600 700 800 900; */
	line-height: 18px;
	font-family: Arial;
	text-decoration: none;/* none underline overline line-through;*/
}
p{
	color: red;
	text-align: center;/* left center right justify */
	text-indent: 18px; 
}
.item{
	text-align: center;
	width: 100px;
	height: 200px;
	border:5px solid /* solid dotted dashed */ white;
	float:left;/* left right none */
	margin:15px;
	padding: 20px;
}