*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f4f6f8;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #28313b;
	line-height: 1.15;
}
a{
	color: #28313b;
	text-decoration: none;
}
li{
	list-style: none;
}
p{

}
span{

}

.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
}

.section_3_1{
	float: left;
	width: 25%;
}
.block{
	float:left;
	width: calc(100% - 60px);
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
}
.block h3{
	color: #ff5912;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 25px;
}
.categories a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	width: 100%;
	padding: 5px 0;
}
.sizes li{
	float: left;
	width: 100%;
	padding: 5px 0;
}
.sizes input[type=radio]{
	margin-right: 5px;
	display: none;
}
.sizes li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.sizes li input[type=radio]:checked + label{
	color: #ff5912;
}
.sizes li input[type=radio]:checked + label:before{
	border:5px solid #ff5912;
}
.section_3_2{
	float: left;
	width: calc(75% - 30px);
	padding-left: 30px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.circle span{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #fff;
	border:1px solid #ff5912;
	border-radius: 100%;
}

.item{
	float:left;
	width: calc(100% / 3 - 30px);
	text-align: center;
	padding:0 15px 30px;
}
.item .item-content{
	float:left;
	width: 100%;
	background-color: #fff;
}

@media screen and (min-width:992px ) and (max-width: 1200px){
	.container{
		width: 970px;
	}
	.item{
		width: calc(100% / 2 - 30px);
	}
}
@media screen (max-width: 992px)  and (min-width: 769px){
	
}
@media screen and (max-width:768px ){
	.section_3_1{
		display: none;
	}
	.section_3_2{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.item{
		width: calc(100% - 30px);
	}
}

.box-star{
	float: left;
	width: 68px;
	height: 23px;
	background-image: url(../images/star-off.png);
	background-repeat: repeat-x;
}
.box-star .star{
	float: left;
	height: 23px;
	background-image: url(../images/star-on.png);
	background-repeat: repeat-x;
}