span{
	color: #443232
	font-size: 20px;
	font-weight: 100;/* 100 300 400 500 600 700*/
	line-height: 25px;
	font-family: arial;/* none underline overline line-though;*/
}
a{
	text-align: center;/* left center right justify */
	/*text-indent: 100px; */
}

.item{
	float: left;
	width: 300px;
	height: 400px;
	margin: 20px;
	text-align: center;
}

body{
	background-color: #f2e2e2
}