.section{
	float: left;
	width: 100%;
}

body{
	/*font-family: 'Indie Flower', cursive;*/
}
.container{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	height: 100%;
}

.container1{
	width: 1170px;
	margin: 0 auto;
	height: 100%;
}

 .section_1{
 	float: left;
	height: 70px;
	background-color: white;
	margin-bottom: 10px;
}

.section_1_1{
	float:left;
	width: 50%;
 	height: 100%;
 	padding-top: 25px;
}

.section_1_2{
	text-align: right;
	float:left;
	width: 50%;
	height: 100%;
	padding-top: 25px;
	padding-right: 60px;
	letter-spacing: 20px;
}
.section_2{
	float: left;
	height: 100px;
	background-color: white;
	/*margin-bottom: 100px;*/
}
.section_2_1{
	float: left;
	width: 15%;
 	height: 100%;
    padding-top: 30px;
}
.section_2_2{
	float: left;
	width: 50%;
 	height: 100%; 
 	padding-top: 45px;
 	padding-left: 30px;
}


.section_2_3{
	float: left;
	width: 35%;
 	height: 100%;
	text-align: right;
	padding-top: 25px;
	padding-right: 60px;
	letter-spacing: 35px;
 }

.section_3{
	height: 1000px;
	margin-bottom: 100px;
	float: left;
	margin-top: 100px;
}
.section_3_1{
	float: left;
	width: 20%;
 	height: 100%;
 	/*background-color: yellow;*/
}

.section_31{
	float: left;
	/*height: 27%;*/
	margin-bottom: 30px;
	background-color: white;
	height: calc(27%-30px);
}


.section h3{
	float: left;
	color: #ff5912;
	font-size: 20px;
	font-weight: 500;
	padding-left: 40px;
	padding-top: 10px;
}

.section_31 a{
	float: left;
	font-size: 14px;
	font-weight: 500;
	float:left;
	width: 100%;
	padding-left: 40px;
	padding-bottom: 20px;
}


.section_32{
	float:left;
	width:100%; 
	height:15%;
	background-color: white;
	margin-bottom: 30px;
}
/*K3{
	padding-top: 20px;
}*/

.K32{
	padding-top: 20px;
	padding-left: 38px;
}

.section_33{
	float:left;
	width:100%; 
	height:25%;
	margin-bottom: 30px;
	background-color: white;
}
.A{
	margin-left: 30px;
	width: 10px;
    height: 10px;
    background: #ddd;
 	margin-right: 10px;
    border-radius: 0%;
}

.block li{
	float: left;
	width: 100%;
	padding: 10px 0;
}
.block input[type=checkbox]{
	margin-right: 10px;
	display: none;
}



.block li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.block li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.block li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}

.section_33 li{
	list-style: none;
}
.section_34 li{
	list-style: none;
}

.section_34{
	float:left;
	width:100%; 
	height:27%;
	background-color: white;
}

.section_33 li{
	list-style: none;
}

.section_3_2{
	float: left;
	width: 80%;
 	height: 100%;
}

.section_3_2_1{
	/*float: left;*/
	width: calc(100% - 30px);
	padding-left: 30px;
	height: 97%;
	padding-bottom: 15px;
	/*background-color: green;*/
}


.item{
	float:left;
	width: /*calc(100% / 3 - 30px);*/250px;
	text-align: center;
	background-color: white;
	margin-right: 30px;
	margin-bottom: 30px;
	height: /*calc(100% / 3 - 30px);*/ 300px;
}

.item span{
	color: #ff5912;
}

.item a{
	color: #34404b;
}

.text_color{
	color: #34404b;
}

/*a{
color:#27247c;
font-size: 18px;
font-weight: 100;
line-height: 24px;
font-family: Arial;
text-align: center; 
}*/


.section_3_2_2{
width: 810px;
height: 3%;
background-color: white;
margin-left: 30px;
text-align: center;
padding-bottom: 10px;
}

.circle span{
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #ff5912;
	border:1px solid #ff5912;
	border-radius: 100%;
}

.section_4{
	float: left;
	height: 60px;
	width: 1000px;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right: 200px;
}

.section_4_1{
	float: left;
	width: 50%;
	height: 100%;
	padding-left: 40px;
	padding-top: 40px;
	background-color: white;
}

.section_4_2{
	float: left;
	text-align: right;
	width: 50%;
	height: 100%;
	padding-top: 38px;
	padding-right: 50px;
	background-color: white;
	margin-right: 100px;
}

.join{
	float: right;
	width: 80px;
	height: 35px;
	background-color: #ff5912;
	text-align: center;
	padding-top:15px;
	margin-top: -15px; 
	margin-left: 100px;
}

#type{
	color: #7c8791;
	font-size: 15px;
	line-height: 18px;
}

.section_5{
	float: left;
	height: 150px;
	background-color: white;
}

.section_5_1{
	float: left;
   height: 66%;
   width: 25%;
   background-color: white;
   padding-top: 40px;
}

.section_5_2{
	float: left;
   height: 100%;
   width: 52%;
}

.section_5_21{
	float:left;
	height: 100%;
	width: 30%;	
}

.text52{
	padding-top: 40px;
}



.section_5_22{
	float:left;
	height: 100%;
	width: 40%;
}

.section_5_23{
	float:left;
	height: 100%;
	width: 30%;
}

.section_5 li{
	padding-top: -5px;
}


.section_5_3{
	float: left;
   height: 100%;
   width: 23%;
}


.sec53{
	padding-top: 10px;
}

.section_6{
	height: 600px;
	float: left;
	margin-top: 10px;
	/*background: pink;*/

}

.section_6_1{
	float: left;
	height: 100%;
	width: 40%;
}

.section_6_11{
	float: left;
	height: 70%;
	background-color: white;
}

.section_6_12{
	float: left;
	height: 30%;
	background-color: white;
}

.anh{
	height: 50px;
	width: calc(100% - 30px);
}

.img6{
	height: 300px;
	width: 200px;
	background-color: #ffffff;
	text-align: center;
	margin-left: 150px;
	margin-top: 80px;
}

.img7{
	padding-top:5px;
	margin-right: 30px;
}
.img8{
	padding-top:5px;
	margin-right: 30px;
}
.img9{
	padding-top:5px;
}

.anh{
	margin-left: 100px;
}




.hop{
	float: left;
	height: 55px;
	width: 80px;
	background-color: #f4f6f8;
	text-align: center;
	/*margin-top: 30px;
	margin-left: 50px;*/
	/*padding: 5px;*/
}



.section_6_2{
	float: left;
	width: 60%;
	height: 100%;
	background-color: white;
}

.text62{
	height: 43%;
	width: 80%;
	float: left;
	padding-top: 53px;
	/*background-color: green;*/
}

.text63{
	float: left;
	height: 22%;
	width: 80%;
	/*background-color: yellow;*/
	padding-top: 15px;
}

.text64{
    height: 35%;
    width: 80%;
	float: left;
	/*background-color: black;*/
}

.text64_1{
	float: left;
	width: 50%;
	height: 100%;
	/*background-color: pink;*/
}

#text5{
	font-size: 18px;
	color: #34404b;
	/*padding-top: 10px;*/
	font-weight: 900;
}

.text64_2{
	float: left;
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	
}

.spa{
	letter-spacing: 30px;
}

.Order{
	float: right;
	height: 30px;
	width: 100px;
	background: #ff5912;
	text-align: center;
	padding-top: 10px;
	margin-top: -10px;
	border-radius: 30%;
}

#text7{
	font-size: 18px;
	color: white;
}

#text1{
	font-weight: 900;
	font-size: 40px;
	color: #ff5912;
}

.text2{
	/*padding-top: 150px;*/
	font-size: 14px;
	color: #495662;
}

#text3{
	font-size: 12px;
	color: #545e67;
	font-weight: 900;

}

.text4{
	font-size: 18px;
	color: #34404b;
	font-weight: 900;
	/*padding-left: 15px;*/
}

.Dau{
	font-size: 12px;
	color: #545e67;
	font-weight: 550;
}

#so3{
	color: #ff5912;
	font-weight: 550;
}

.section_7{
	
	float: center;
	height: 150px;
	margin-top: 150px;
}

.sec71{
	height: 35%;
	width: 100%;
	
}

.sec72{
	height: 65%;
	width: 100%;
}

#text71{
	font-weight: 800;
	font-size: 27px;
	color: #ff5912;
	padding-left: 420px;
	
}

#text73{
	font-weight: 800;
	font-size: 27px;
	color: #34404b;
}

#text72{
	font-weight: 400;
	font-size: 14px;
	color: #495662;
	padding-left: 350px;
}

#text77{
	
}
.section_8{
	float: left;
	height: 400px;
	margin-top: 50px;
}

.item1{
	float:left;
	width: 243px;
	text-align: center;
	background-color: white;
	margin-right: 30px;
	margin-bottom: 30px;
	height: 300px;
}

.item1 span{
	color: #ff5912;
}

.item1 a{
	color: #34404b;
}




@media screen and (max-width:992px ) and (max-width: 1200px){
	.container{
		width: 970px;
		/*background-color: black;*/
	}
	.item{
		width: calc(100% / 2 - 30px);
	}
	.section_5_23
	{
		width: 988px;
	}
	.section_3 {
		height: 1800px;
	}
	.section_4 {
		width: 
	}
	.section_5_21{
	float:left;
	height: 100%;
	width: 25%;	
	}
	.section_5_22{
	float:left;
	height: 100%;
	width: 40%;	
	}
	.section_5_23{
	float:left;
	height: 100%;
	width: 35%;	
	}
}


