.section{
	float: left;
	width: 100%;
}
.container{
	width: cover;/*1170px*/
	margin: 0 auto;
 	height: 100%;
	background-color: #fff;
}
 .section_1{
 	width: cover;
	height: 70px;

}
.section_1_1{
	float:left;
	width: 50%;
 	height: 100%px;
    margin-top: 30px;
    margin-left: 70px;
}
.section_1_2{
    float:right;
    /*text-align: right;*/
	width: 50%;	
	height: 100%;
	margin-right: 70px;
	margin-top: 30px;
}
.section_2{
	margin-top:2px;
	/*margin-bottom:100px;*/
	 
	background-color: white;
	height: 120px;
}
.section_2_1{
	text-align: center;
	float: left;
	width: 20%;
 	height: 100%;
 	padding-bottom: 80px;
    padding-top: 40px;

}
.section_2_2{
	float: left;
	width: 40%;
 	height: 100%;
 	padding-bottom: 70px;
    padding-top: 50px;
}
.section_2_3{
	float: left;
	width: 40%;
 	height: 100%;
 	text-align: center;
 	padding-bottom: 90px;
    padding-top: 30px;
}
.section_3{
	height: 800px;
	/*margin: 90px;*/
	/*margin-bottom: 20px;
	margin-left: 20px;*/
}
.section_3_1{

	float: left;
	width: 25%;
 	height: 100%;

}

.section_3_1_1{
	 
	background-color: white;
	/*margin-left:30px;*/
	margin-bottom:20px;
	float:left;
	width:100%; 
	height:27%;

}

.section_3_1_2{
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	width:100%; 
	height:19%;
}

.section_3_1_3{
	margin-bottom:20px;
	float:left;
	width:100%; 
	height:27%;
	background-color: white;
}

.section_3_1_4{
	margin-bottom:20px;
	float:left;
	width:100%;
	height:27%;
}

.section_3_2{
	float: left;
	width: 75%;
 	height: 100%;
	background-color: yellow;
}
.section_4{
	margin-top: 100px;
	height: 100px;
	background-color: blue;
}

.section_4_1{
	float: left;
	width: 50%;
	height: 100%;
}

.section_4_2{
	float: right;
	width: 50%;
	height: 100%;
	background-color: blue;
}

.section_5{
	height: 150px;
	background-color: violet;
}

.section_5_1{
	float: left;
	width: 25%;
	height: 100%;
}
.section_5_2{
	float:left;
	width: 50%;
	height: 100%;
	background-color:black;
}
.section_5_3{
	float:left;
	width: 25%;
	height: 100%;
	background-color:green;
}

#A{
	color:#9e9697; 
    font-size: 15px;
    font-weight: 30;
    padding-bottom: 75px;
    padding-top: 75px;
}

#A1{
	color: #ffc22d;
	/*text-align: left;*/
   margin-left: 10px;
}

#A2{
	color: #27247c;
	margin-left: 10px;
}

#A3{

}