body{
	background: #f4f6f8;
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0 auto;

}
.container{
	width: 1170px;
	margin: 0 auto;
	height: 100%;
	background-color: #fff;
}
.sect_1{
	height: 50px;

	background: white;

}
.sect_1_1{
	height: 20px;
	margin-bottom: 5px;
	margin-left:50px;
	background: white;
}
.mail{
	float: left;
}
.phone{
	margin-left: 10px;
	float: left;
}
.sect_1_2{
	margin-right: 200px;
	margin-top: 15px;
	float: right;
}
.face{
	margin-left: 10px;
 	float: left; 
}
.tw{
	margin-left: 10px;
	float: left;
}
.gg{
	margin-left: 10px;
	float: left;
}
.ig{
	margin-left: 10px;
	float: left;
}
.sect_2{
	height: 100px;
	background-color: green;
}
.sect_3{
	height: 800px;
	background-color: blue;
}
.sect_4{
	height: 80px;
	background-color: black;
}
.sect_5{
	height: 150px;
	background-color: orange;
}