body{
	font-size: 16px;
	font-weight: 400px;
	line-height: 1.15;
	font-family: 'Nunito Sans', sans-serif;
}
.container{
	width: 1170px;
	margin: 0 auto;

}
.section{
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}
span{
	font-weight: 400px;
}
/*Section1*/
.section1{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}
.section1_1{
	float: left;
	width: 50%;
}
.section1_2{
	float: left;
	width: 50%;
	text-align: right;
}
.section1_2 a{
	text-decoration-line: none;
	color: black;
	font-size: 15px;
	font-weight: 700;
}
.menu a:link{
	color: black;
}
.menu a:visited{
	color: black;
}
.menu a:hover{
	color: #10c9c3;
}


/*Section2*/
.section2{
	padding-top: 100px;
	padding-bottom: 100px;
}
.section2_1{
	float: left;
	width: 32%;
	padding-right: 70px;
}
.bigcontent{
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 10px;
}
.smallcontent{
	padding-bottom: 20px;
	color: gray;
}
.followtext{
	font-size: 15px;
}
.followtext{
	color: gray;
}
.info{
	font-weight: 700;
	color: black;
}
.section2_2{
	float: left;
	width: 50%;
	text-align: left;
}
input{
	border: none;
}
textarea{
	border: none;
}
button{
	border: none;
	display: block;
	padding: 20px 45px;
	background-color: #10c9c3;
}
.email{
	float: left;
}
/*Section3*/
.section3{
	background-color: #f5f5f5;
}