span{
	color: #ff5912;
	font-size: 18px;
	font-weight: 300px;
	line-height: 24px;
	font-family: Arial;
}
a{	
	font-size: 18px;
	text-decoration: none;
	color: #34404b;
}

.item{
	text-align: center;
	width: 280px;
	height: 365px;
	background-color: #ffffff;
	float: left;
	margin-right: 25px;
	margin-top: 25px;
}
img{
	margin-top: 40px;
}

body{
	background-color: #f4f6f8;
}
div{
	width: 1000px;
}


